body{
}
.MM-box{
	width: 100%;
	overflow: hidden;
	background-color: #000000;
	
}
#M-cont-box{
	width: 100vw;
	min-width: 1220px;
	background: #fff;
}
.M-cont-header{
	width:100vw;
	height: 165px;
	min-width: 1220px;
	background:url(../images/mao/5logo.png) no-repeat center center;
	
}
.M-cont-text{
	width: 100vw;
	min-width: 1220px;
	height: 9vw;
	background: url(../images/mao/SINCE.png) no-repeat center center;
	background-size:31.3vw 9vw;
	margin-top: 3.6vw;
}
.M-cont-text p{
	text-align: center;
}
.M-cont-text p:nth-child(1){
	font-size: 2.5vw;
	color: #7C4E23;
	padding-top: 3.6vw;
}
.M-cont-text p:nth-child(2){
	font-size: 1.8vw;
	padding-top: 3vw;
}
.M-cont-ulist{
	width: 100vw;
	margin-top: 3vw;
	background: #fff;
	height: 20vw;
}
.M-cont-Ul{
	display: flex;
	width: 100vw;
	margin-top:5vw;
	background: #fff;
}
.M-cont-Ul li{
	width: 33vw;
	
	justify-content: center;
	
}
.M-cont-Ul li img{
	display: block;
	width: 4.1vw;
	height: 3.5vw; 
	margin: 0 auto;
}	
.M-cont-Ul li p{
	display: block;
	text-align: center;
}
.M-cont-Ul li p{
	display: block;
	text-align: center;
	font-size: 2vw;
	line-height: 7.8vw;
}
.M-cont-Ul li span{
	display: block;
	text-align: center;
	font-size: 1.6vw;
}
#allMap{
	width:100%;
	height:70vh;
	overflow:hidden;
}